body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aquamarine ;
}

.chat-container {
    max-width: 600px;
    margin:50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(157, 155, 155);
    margin-top: 10px;
}

.messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #aba9a9;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: lightskyblue;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  a:hover {
    background-color: #555;
  }
  a.active {
    background-color: #555;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a.active {
    background-color: #555;
  }