body {
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}
.maincont {
  max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  margin: 0 auto;
  padding: 20px;
}
nav {
  background-color: #022954;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0%;
  width: auto;
  margin-left: 0%;
  margin-right: 0%;
}
.logo img {
  size: 100PX;
  width:200px;
  color: #5e6aa4;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin-right: 20px;
}

a .button :hover{
  background: rgb(47, 24, 194);
  
}
#button {
   border-color: rgb(151, 163, 222);
   margin-top: 50px; 
   align-items: center;
   align-self: center;

}
#button :hover{
  background: rgb(61, 81, 194);
}
.button{
  margin-top: 50%;
  margin-left: 30px;
  box-shadow: #375498;

}
.button :hover {
  background: rgb(232, 224, 209);
  box-shadow: #576394;
}
.button :active {
  background-color: #334265;
  box-shadow: #afaeae;
}


#timer {
  margin-top: 20px;
}

#time {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.image-container{
  background-color: #3b56b1;
  text-align: center;
  height:150px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.oc{
  width: 70%;
}
.gallery{
width: 900px;
display: flex;
overflow-x: scroll;
}
.gallery div{
width: 100%;
display: grid;
grid-template-columns: auto auto auto;
grid-gap:20px;
padding: 10px;
flex: none;
}
.gallery div img{
width: 100%; 
 filter:grayscale(100%);
transition:  transform 0.5s;
}
.gallery::-webkit-scrollbar{
display: none;
}
.gallery-wrap{
display: flex;
align-items: center;
justify-content: center;
margin: 10% auto;
}

.gallery div img:hover{
filter:grayscale(0);
cursor: pointer;
transform: scale(1.1);

}
.std-container {
  border: 2px solid #424078;
  background-color: #eaebfe;
  display: block; /* Change from inline-block to block */
  margin-top: 50px;
  padding: 100px;
  width: 100%;
  overflow: hidden;
}

.logo img {
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}
.heading{
    text-shadow: 2px 2px 4px rgba(198, 251, 253, 0.5);
}
a {
  color: #eaf1fd;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

a.active {
  background-color: #5e6aa4;
}

.content {
  padding-bottom: 30px;
}
.newsec {
  border: 2px solid #282e5c;
  background-color: #eaebfe;
  margin: 0 auto;
  display: block; /* Change from inline-block to block */
  padding: 20px;
  width: 50%;
}

.footer {
  position:relative;
  bottom: 0;
  width: 100%;
  background-color:#022954 ;
  color: white;
  text-align: center;
  padding: 15px;
}
.selfnstud:hover {
  pointer-events: none;
  background-color: #fff;
}